<%= image_tag("layout/logo_footer.png", :alt => "Two Weeks from Everywhere", :style => "margin-top: 6px;") %>
<br /><br />
<p>
  <%= link_to "Home", portfolio_path %>
  <%= link_to "Contact", new_contact_path %>
</p>