<footer>
  <div class="row-fluid">
    <div class="span4">
      <%= render :partial => "elements/footer_mainmenu_display" %>
    </div>
    <div class="span2">
      &nbsp;
    </div>
    <div class="span6">
      &nbsp;
    </div>
  </div>
</footer>