<header class="main-header">
  <div class="container main-header-logo">
    <%= link_to image_tag("z-logo-top.png", :alt => "Brian R Zaik", :width => "100"), portfolio_path %>
  </div>
  <div class="container main-header-nav">
    <div class="navbar">
      <div class="navbar-inner">
        <h1 class="brand">
          <%= link_to portfolio_path do %>
            Brian Zaik<small>UX Designer</small>
          <% end %>
        </h1>
        <%= render partial: "elements/main_menu" %>
      </div>
    </div>
  </div>
</header>
