<header class="main-header">
  <div class="container" style="position: relative;">
    <%= link_to image_tag("z-logo-top.png", :alt => "Brian R Zaik", :width => "100", :style => "position: absolute; top: 0px; left: 0px;"), portfolio_path %>
  </div>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <h1 class="brand">
          <%= link_to portfolio_path do %>
            Brian Zaik<small>UX Designer + Developer</small>
          <% end %>
        </h1>
        <%= render partial: "elements/main_menu" %>
      </div>
    </div>
  </div>
</header>