<ul class="main-menu nav" style="margin-right: 0px;">
  <li <% if (controller.controller_name == 'portfolio' and controller.action_name != 'index') or controller.controller_name == 'pages' %>class="active"<% end %>><%= link_to "Works", portfolio_all_path %></li>
  <li><a href="/file_upload/BrianZaik_CurrentResume.pdf">About</a></li>
  <li <% if controller.controller_name == 'contacts' %>class="active"<% end %>><%= link_to "Contact", new_contact_path %></li>
</ul>