<ul class="main-menu nav" style="margin-right: 0px;">
  <li <% if (controller.controller_name == 'portfolio' and controller.action_name != 'index') or (controller.controller_name == 'pages' and @page and !@page.is_about_page) %>class="active"<% end %>><%= link_to "Works", portfolio_all_path %></li>
  <li <% if (controller.controller_name == 'pages' and @page and @page.is_about_page) %>class="active"<% end %>><%= link_to "About", about_path %></li>
  <li <% if controller.controller_name == 'contacts' %>class="active"<% end %>><%= link_to "Contact", contact_path %></li>
  <li><a href="https://medium.com/@brzaik">Blog</a></li>
</ul>
