<% upload = Upload.find(image.upload_id) %>

<% if image.include_border? %>
  <% image_url_to_click = '' %>
  <% image.url_link != '' ? image_url_to_click = image.url_link : image_url_to_click = upload.myfile.url %>

  <span class="bordered-image">
    <%= link_to image_tag(upload.myfile.url, :alt => image.caption, :title => image.caption), image_url_to_click %>
  </span>
<% else %>
  <%= image_tag(upload.myfile.url, :alt => image.caption, :title => image.caption) %>
<% end %>