<div id="page-panel-<%= page.id %>" class="panel">
  <div class="default-padding">
    <h1><%= page.title %></h1>

    <%= render page.sections %>

    <% if current_user %>
      <div class="admin-links">
        <%= link_to "Add Section Here", new_page_section_path(page), remote: true, class: "btn btn-mini" %>
        <br /><br />
      </div>
    <% end %>
  </div>
</div>