<%= render page.sections %>

<% if current_user %>
  <div class="admin-links">
    <%= link_to "Add Section Here", new_page_section_path(page), :class => "btn btn-mini" %>
    <br /><br />
  </div>
<% end %>