<p id="logovid-skip">
  <%= link_to "SKIP TO HOMEPAGE", homepage_path, :style => "font-size: 1.2em; padding: 12px 4px;" %>
</p>

<video id="logovid" class="video-js vjs-default-skin" preload="auto" autoplay poster="/assets/trailer_ph.jpg" data-setup="{}">
  <source src="/logovid/TwoWeeksLogo.theora.ogv" type="video/ogg">
  <source src="/logovid/TwoWeeksLogo.mp4" type="video/mp4">
</video>

<script type="text/javascript">
  var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/i) ? true : false );

  if (iOS) {
    window.location.href = "/homepage";
  }

  $(function()
  {
    var player_name = _V_('#logovid');

    $(player_name).ready(function()
    {
      player_name.addEvent('ended', function()
      {
        this.hide();
        window.location.href = "/homepage";
      });
    });
  });
</script>