<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Mail Received on Two Weeks from Everywhere Website</h1>
    <p><b>FROM:</b> <%= @contact.name %> (<%= @contact.email %>)</p>
    <p><b>Here's what they said:</b></p>
    <p><%= @contact.message %></p>
  </body>
</html>