<div class="row-fluid">
  <div class="span7">
    <h1 style="margin: 40px 0px 40px 15px; font-size: 52px; line-height: 60px;">Hi there, I'm Brian. I design and build products aimed at making life more enjoyable.</h1>
  </div>
  <div class="span5">
    &nbsp;
  </div>
</div>