.admin-color { 
  * { color: @adminOrange !important; }
}

.admin-block {
  position: relative;

  .admin-controls.top {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .admin-controls.bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .admin-controls {
    background: @black;
    padding: 2px 4px;
    display: none;

    a { color: @adminOrange; }
    &.top {

    }

    .caption {
      color: @grayLight;
      padding-right: 8px;
    }
  }

}

body.view-admin-true {
  .admin-block {
    &:hover { 
      .box-shadow(0px 0px 4px @grayLight);
    }
    &.solid-shadow {
      .box-shadow(0px 0px 4px @grayLight);
    }
    padding: @adminPaddingAll;
  }
}

body.view-admin-false {
  .column, .block {
    .admin-padding { padding: 0px; }
  }

  .admin-links, .admin-color { display: none !important; }
}





a.add-link-block {
  display: block;
  text-align: center;
  padding: 8px 20px;
  background: lighten(@adminOrange, 30%);
  font-size: 1.25em;
  display: none;

  &:hover {
    background: darken(@grayLighter, 6%);
  }
}

.add-floating-admin-links {
  position: relative;
  
  .admin-links-floating {
    position: absolute;
    background: @black;
    top: 0px;
    right: 0px;
    padding: 1px 5px;
    display: none;
    
    > a { 
      color: @adminOrange;
      margin: 0px 2px;
    }
    .caption { color: @grayLight; padding-right: 8px; }
  }
}

.panel.admin {
  background: lighten(@adminOrange, 40%);
  border: dashed 2px @adminOrange;
  .box-shadow(0 0 0);
}

.admin-shade {
  background: lighten(@adminOrange, 40%);
}


#admin-drawer {
  position: fixed;
  right: -452px;
  top: 0px;
  height: 100%;
  width: 450px;
  z-index: @zindexModal + 1;
  background: rgba(255,205,0,0.95);
  border-left: solid 2px @black;

  a.cancelBtn {
    margin-left: 12px;
  }
}
