.admin-color { 
  * { color: @adminOrange !important; }
}

a.add-link-block {
  display: block;
  text-align: center;
  padding: 20px;
  background: lighten(@adminOrange, 30%);
  font-size: 1.25em;

  &:hover {
    background: darken(@grayLighter, 6%);
  }
}

.add-floating-admin-links {
  position: relative;
  
  .admin-links-floating {
    position: absolute;
    background: @black;
    top: 0px;
    right: 0px;
    padding: 1px 5px;

    > a { 
      color: @adminOrange;
      margin: 0px 2px;
    }
    .caption { color: @grayLight; padding-right: 8px; }
  }
}

.panel.admin {
  background: lighten(@adminOrange, 40%);
  border: dashed 2px @adminOrange;
  .box-shadow(0 0 0);
}

body.view-admin-true {
  .page-section {
    background: @grayLight;

    .admin-padding { padding: @adminPaddingAll; }
  }

  .page-row {
    background: @gray;
    padding-bottom: 24px;
    margin-bottom: 24px;

    .admin-padding { padding: @adminPaddingAll; }
  }
  
  .column {
    background: @grayDarker;

    .admin-padding { padding: @adminPaddingAll; }
  }

  .block {
    background: @black;
    border: solid 1px #999;
    margin-bottom: 18px;

    .admin-padding { padding: @adminPaddingAll; }
  }
}
body.view-admin-false {
  .column, .block {
    .admin-padding { padding: 0px; }
  }

  .admin-links, .admin-color { display: none !important; }
}