#frontpage-header {
  margin: 20px 0px 40px 30px; 
  font-size: 46px; 
  line-height: 52px;

  a { 
    color: @black;
    text-decoration: none;

    &:hover {
      color: @linkColorHover;
    }
  }

  .more {
    .opacity(20);
    border: none;
    .transition(0.1s display linear);
    display: none;

    &.expanded {
      .opacity(100);
      display: inline;
    }
  }

  .more-text {
    padding-right: 8px;
  }
}