//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  .clearfix();
}

header.main-header {
  background: @white;
  .box-shadow(0px 2px 3px lighten(@grayLight, 20%));
  border-top: solid 9px @black;

  .main-menu { float: right; }
}

footer.main-footer {
  padding: 50px 0px 80px 0px;
  z-index: 999;
  position: relative;
  background: @black;
  min-height: 100px;
  color: @grayLighter;
  margin-top: 70px;

  a { 
    color: lighten(@linkColor, 20%); 

    &:hover { color: lighten(@linkColorHover, 20%); }
  }

  h3 {
    margin-bottom: 1.2em;
  }

  hr { border-color: @gray; }

  .social-links {
    a { 
      color: lighten(@gray, 5%); 
      text-decoration: none;
      font-size: 2.4em;

      &:hover {
        color: @white;
      }
    }
  }

  .main-menu {
    margin-bottom: 12px;
    .clearfix();

    li { 
      float: left;
    }

    a { 
      background: @grayDarker;
      text-decoration: none;
      padding: 8px; 
      margin-right: 12px;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        background-color: @gray;
        color: @white;
      }
    }
  }
}

#main {
  padding: 50px 0px 0px 0px;
}