.page-details {
  .row-fluid { display: table; }
  [class*="span"] {
    display: table-cell;
    vertical-align: middle;
    border-left: dotted 1px @grayLight;
  }
  [class*="span"]:first-child {
    border-left: none;
  }
}

.page-row.default-padding { padding:60px 30px; }


.stickem-container {
  position: relative;
}

.stickit {
    margin-left: 660px;
    position: fixed;
    top: 0;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    right: 0;
}

.page-row {
  h1, h2, h3, h4, h5 { line-height: normal; }
}

.page-section h1.section-title { font-size: 34px;}
.page-section .section-title .link-top a {
  color: @white;
}
.page-section .section-title:hover .link-top a {
  color: @linkColor;
}
.page-section li {
  line-height: 1.4em;
}