.page-details {
  .row-fluid { display: table; }
  [class*="span"] {
    display: table-cell;
    vertical-align: middle;
    border-left: dotted 1px @grayLight;
  }
  [class*="span"]:first-child {
    border-left: none;
  }
}

.page-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-row.default-padding { padding:60px 30px; }

.page-row {
  margin-top: 40px;

  h1, h2, h3, h4, h5 { line-height: normal; }
}
.block p { font-size: 20px; }
.block > img { width: 100%; }
.block.no-border a { border: none !important; }
.bordered-image > a {
  display:block;
  border: solid 1px @grayLighter;

  &:hover {
    border: solid 1px @linkColor;
  }
}

.skills-matrix {
  p {
    line-height: 3em;
    margin: 0px;
  }

}
.circle-progress {
  border: solid 2px @black;
  .border-radius(500px);
  background: lighten(@grayLighter, 5%);
  padding: 2px 8px;
  font-size: 1.4em;
  color: @black !important;
  line-height: 2em;

  &:hover {
    background: lighten(@linkColor, 50%);
    text-decoration: none !important;
  }
}
