// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// Body reset
// ----------

body {
  margin: 0;
  #font > .sans-serif(@baseFontSize, 400, @baseLineHeight);
  color: @textColor;
  background: @bodyBackground image-url("layout/stripes_bg.jpg") repeat;
}


// Links
// -----

a {
  color: @linkColor;
  text-decoration: underline;
  .transition(0.1s linear all);
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}
