// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// Body reset
// ----------

body {
  margin: 0;
  #font > .sans-serif(@baseFontSize, 400, @baseLineHeight);
  color: @textColor;
  background-color: @bodyBackground;
  border-top: solid 10px @black;
}


// Links
// -----

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}
